@import 'fonts/source-sans/stylesheet.css';
*
{
	margin: 0;
	padding: 0;
	webkit-text-size-adjust: none;
}

body,a
{
	color: #3b4854;
}
.animate-background
{
	moz-transition: background 0.25s linear;
	transition: background 0.25s linear;
	webkit-transition: background 0.25s linear;
}
.animate
{
	moz-transition: all 0.25s linear;
	transition: all 0.25s linear;
	webkit-transition: all 0.25s linear;
}
.secondary-bg
{
	background: url(images/grid.png) #eeeeee 50% 0%;
}
.sprite
{
	background: url(images/sprite.png) no-repeat;
}
.ellipsis
{
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
body,h1,h2,h3,h4
{
	font-family: 'SourceSans';
  	-webkit-font-smoothing: subpixel-antialiased;
	font-size: 17px;
	font-weight: 300;
}
h1,h2,h3,h4
{
	letter-spacing: 0.05em;
}
h1
{
	font-size: 34px;
}
h2
{
	font-size: 34px;
	padding: 48px 0;
}
b,strong
{
	font-family: 'HelveticaNeue-Bold',Helvetica,Arial,sans-serif;
	font-weight: 900;
}
label
{
	font-family: 'HelveticaNeue',Helvetica,Arial,sans-serif;
	font-size: 12px;
	font-weight: 400;
}
.platforms-list li,.list-header.mini,.quick-links-header li
{
	font-family: 'HelveticaNeue-Medium','HelveticaNeue',Helvetica,Arial,sans-serif;
	font-weight: 500;
}
a:hover
{
	color: #4cc2e4;
}
p
{
	line-height: 1.8em;
	margin-bottom: 2em;
}
p+p
{
	margin-top: 2em;
}
.button-container
{
	background: url(images/shadow.png);
	position: absolute;
	right: -5px;
}
.button
{
	background: url(images/sprite.png) no-repeat;
	background-color: #4cc2e4;
	background-position: 100% -171px;
	color: #fff;
	display: block;
	font-size: 24px;
	left: -5px;
	moz-transition: background 0.25s linear;
	padding: 16px;
	position: relative;
	text-decoration: none;
	top: -5px;
	transition: background 0.25s linear;
	webkit-transition: background 0.25s linear;
	width: 288px;
}
.button:hover
{
	background-color: #4cd6fc;
	color: #fff;
}
div.button,div.button:hover
{
	background-color: #abafb0;
}
.button label
{
	display: block;
	font-size: 0.5em;
	height: 16px;
}
.clear
{
	clear: both;
}
#wrap,.wrap,#footer,hr
{
	margin: 0 auto;
	position: relative;
	width: 1008px;
}
.grid
{
	background: url(images/grid.png) #eeeeee 50% 0%;
	padding: 32px 0;
}
hr
{
	border: none;
	border-top: 1px solid #ddd;
	margin-bottom: 32px;
	margin-top: 64px;
}
.header-placeholder
{
	height: 90px;
}
#header
{
	background: #fff;
	height: 90px;
	left: 0;
	position: fixed;
	right: 0;
	z-index: 10;
}
#header .shadow
{
	bottom: -9px;
	height: 9px;
	left: 0;
	position: absolute;
	width: 100%;
	background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,0.20)), to(rgba(0,0,0,0.00)));
	background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.20), rgba(0,0,0,0.00));
	background-image: -moz-linear-gradient(top, rgba(0,0,0,0.20), rgba(0,0,0,0.00));
	background-image: -o-linear-gradient(top, rgba(0,0,0,0.20), rgba(0,0,0,0.00));
	background-image: -ms-linear-gradient(top, rgba(0,0,0,0.20), rgba(0,0,0,0.00));
	background-image: linear-gradient(top, rgba(0,0,0,0.20), rgba(0,0,0,0.00));
}
.logo,.closing
{
	background: url(images/sprite.png) no-repeat;
	background-color: #3b4854;
	background-position: 0 0px;
	height: 75px;
	left: 0;
	moz-transition: background 0.25s linear;
	position: absolute;
	top: 5px;
	transition: background 0.25s linear;
	webkit-transition: background 0.25s linear;
	width: 220px;
}
.logo:hover
{
	background-color: #4cc2e4;
}
.menu
{
	float: right;
	padding: 16px 0;
}
.menu a
{
	line-height: 55px;
	margin: 0 8px;
	moz-transition: background 0.25s linear;
	padding: 16px;
	text-decoration: none;
	transition: background 0.25s linear;
	webkit-transition: background 0.25s linear;
}
.menu a:hover
{
	color: #4cc2e4;
}
.menu-dropdown
{
	display: none;
	position: absolute;
	right: 16px;
	top: 32px;
	width: 40%;
}
.menu-dropdown select
{
	width: 100%;
}
.leadin
{
	margin-bottom: 32px;
}
.leadin .wrap
{
	height: 340px;
}
.leadin .text-block
{
	left: 384px;
	position: absolute;
	top: 64px;
}
.leadin img
{
	left: 24px;
	position: absolute;
	top: 32px;
}
.leadin li
{
	list-style: none;
	margin: 9px 8px;
}
.leadin h1
{
	background: #fff;
	display: inline;
	padding: 4px 8px;
}
.leadin .button-container
{
	bottom: 0;
}
.container-box
{
	background: #fff;
	padding: 8px;
	position: relative;
}
.list-link
{
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.list
{
	padding-top: 16px;
}
.list li
{
	background: #fff;
	list-style: none;
	margin-bottom: 16px;
	padding: 8px;
	position: relative;
}
.list-header
{
	background: #fff;
	margin-top: 16px;
	padding: 8px;
	position: relative;
}
.list-header p
{
	margin-bottom: 0;
}
.list-container
{
	position: relative;
}
.platforms-list
{
	padding-top: 32px;
	width: 456px;
}
.platforms-list.second
{
	position: absolute;
	right: 0;
	top: 0;
}
.platforms-list li a
{
	background: url(images/sprite.png) no-repeat;
	background-color: #4cc2e4;
	background-position: 3px -127px;
	bottom: 0;
	moz-transition: background 0.25s linear;
	position: absolute;
	right: 0;
	top: 0;
	transition: background 0.25s linear;
	webkit-transition: background 0.25s linear;
	width: 36px;
}
.platforms-list li a:hover
{
	background-color: #4cd6fc;
}
.platforms-list li.first a
{
	width: 108px;
}
.platforms-list li a.link-apache
{
	background-position: 2px -94px;
	right: 39px;
}
.platforms-list li.first a.link-apache
{
	right: 111px;
	width: 144px;
}
.mailing-list
{
	margin-bottom: 24px;
	width: 752px;
}
.mailing-list a
{
	backround: #fff;
	bottom: 0;
	font-size: 14px;
	moz-transition: background 0.25s linear;
	padding: 8px;
	position: absolute;
	right: 0;
	top: 0;
	transition: background 0.25s linear;
	webkit-transition: background 0.25s linear;
	width: 408px;
}
.mailing-list a:hover
{
	background: #4cc2e4;
	color: #fff;
}
.mailing-list a span
{
	background: url(images/sprite.png) no-repeat;
	background-color: #4cc2e4;
	background-position: -156px -95px;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 36px;
}
.mailing-list li
{
	margin-bottom: 3px;
}
.download-pane .button-container
{
	bottom: -70px;
}
.list-header.mini
{
	display: inline;
}
.download-list-container
{
	position: relative;
}
.download-list
{
	margin-bottom: 24px;
	width: 320px;
}
.download-list.second,.download-list.third
{
	position: absolute;
	top: 0;
}
.download-list.second
{
	left: 344px;
}
.download-list.third
{
	left: 688px;
}
.download-list li
{
	height: 18px;
}
.download-list .version
{
	background: url(images/sprite.png) no-repeat;
	background-color: #4cc2e4;
	background-position: -160px -127px;
	bottom: 0;
	color: #fff;
	left: 0;
	moz-transition: background 0.25s linear;
	padding: 8px;
	padding-left: 32px;
	position: absolute;
	right: 0;
	right: auto;
	text-decoration: none;
	top: 0;
	transition: background 0.25s linear;
	webkit-transition: background 0.25s linear;
	width: 40%;
}
.download-list .version:hover
{
	background-color: #4cd6fc;
}
.download-list .release
{
	float: right;
	font-size: 12px;
	margin-top: 2px;
}
.list-header.mini
{
	display: inline;
}
.quick-links,.quick-links-header li
{
	float: left;
	list-style: none;
	margin-right: 24px;
	position: relative;
	width: 320px;
}
.quick-links-header li
{
	margin-bottom: 24px;
}
.quick-links.last,.quick-links-header li.last
{
	margin-right: 0;
}
.quick-links li
{
	padding: 0;
}
.quick-links a
{
	display: block;
	moz-transition: background 0.25s linear;
	padding: 8px;
	text-decoration: none;
	transition: background 0.25s linear;
	webkit-transition: background 0.25s linear;
}
.quick-links a:hover
{
	background: #4cc2e4;
	color: #fff;
}
.quick-links a span
{
	background: url(images/sprite.png) no-repeat;
	background-color: #4cc2e4;
	background-position: -156px -95px;
	bottom: 0;
	position: absolute;
	right: 0;
	top: 0;
	width: 36px;
}
#footer
{
	padding: 32px 0 64px;
}
#footer p
{
	font-size: 12px;
	line-height: 1.5em;
}
.closing
{
	background-position: 0 -725px;
	height: 65px;
	left: auto;
	right: 0;
	top: 20px;
	width: 60px;
}
.closing:hover
{
	background-color: #4cc2e4;
}
.icon
{
	background: url(images/sprite.png) no-repeat;
	background-position: 0 -220px;
	padding-left: 78px;
}
.icon-about
{
	background-position: 0 -220px;
}
.icon-contribute
{
	background-position: 0 -316px;
}
.icon-mailing-list
{
	background-position: 0 -412px;
}
.icon-download
{
	background-position: 0 -508px;
}
.icon-quick-links
{
	background-position: 0 -604px;
}
a.scroll-point
{
	border-bottom: transparent 1px solid;
	display: block;
}
a.pt-top
{
	border: none;
}
a.pt-about
{
	border: none;
	margin: -100px 0 130px;
}
.corner,.quick-links .corner
{
	background: url(images/sprite.png) no-repeat;
	background-position: 0 -808px;
	height: 40px;
	left: 0;
	position: absolute;
	top: -32px;
	width: 40px;
}
.button-container.middle
{
	bottom: 0;
}
@media all and (max-width:1024px)
{
	#wrap,.wrap,#footer,hr
	{
		width: auto;
	}
	.wrap,#footer
	{
		margin-left: 24px;
		margin-right: 24px;
	}
	.download-list,.download-list.second,.download-list.third
	{
		width: 30%;
	}
	.download-list.second
	{
		left: 33%;
	}
	.download-list.third
	{
		left: 66%;
	}
	.quick-links,.quick-links-header li
	{
		width: 30%;
	}
	.platforms-list
	{
		width: 48%;
	}
	h1
	{
		font-size: 30px;
	}
	.button-container
	{
		right: 16px;
	}
}
@media all and (max-width:890px)
{
	h1
	{
		font-size: 24px;
	}
	h2
	{
		font-size: 24px;
		padding-top: 54px;
	}
	.leadin img
	{
		height: 240px;
		top: 0;
		width: 240px;
	}
	.leadin .text-block
	{
		left: 290px;
		top: 32px;
	}
	.button
	{
		padding: 12px;
		width: 250px;
	}
	.leadin .wrap
	{
		height: 245px;
	}
	.mailing-list
	{
		width: auto;
	}
	.menu
	{
		display: none;
	}
	.menu-dropdown
	{
		display: block;
	}
}
@media all and (max-width:720px)
{
	body
	{
		font-size: 16px;
	}
	h1
	{
		font-size: 22px;
	}
	h2
	{
		font-size: 22px;
		padding-top: 54px;
	}
	.leadin img
	{
		height: 192px;
		width: 192px;
	}
	.leadin .text-block
	{
		left: 232px;
		top: 32px;
	}
	.button
	{
		background-position: 100% -177px;
		font-size: 20px;
		padding: 10px;
		width: 220px;
	}
	.leadin .wrap
	{
		height: 195px;
	}
	.platforms-list li.first a.link-apache,.platforms-list li.first a.link-github
	{
		width: 36px;
	}
	.platforms-list li.first a.link-apache
	{
		right: 39px;
	}
	.mailing-list li
	{
		padding: 8px 4px;
	}
	.mailing-list a
	{
		display: block;
		overflow: hidden;
		padding-right: 42px;
		text-overflow: ellipsis;
		white-space: nowrap;
		width: 56%;
	}
	.download-list .version
	{
		width: 28%;
	}
	.menu-dropdown
	{
		top: 16px;
	}
	#header,.header-placeholder
	{
		height: 52px;
	}
	.logo
	{
		background-size: 112px 425px;
		height: 37px;
		top: 7px;
		width: 110px;
	}
	#footer
	{
		padding-bottom: 28px;
		padding-right: 72px;
	}
}
@media all and (max-width:630px)
{
	body
	{
	}
	.leadin img
	{
		height: 160px;
		left: -4px;
		width: 160px;
	}
	.leadin .text-block
	{
		left: 175px;
		top: 11px;
	}
	.leadin .wrap
	{
		height: 160px;
	}
	.leadin .button-container
	{
		bottom: -10px;
	}
	.button
	{
		background-position: 100% -181px;
		font-size: 18px;
		padding: 8px;
		width: 200px;
	}
	.download-list .version
	{
		width: 22%;
	}
}
@media all and (max-width:585px)
{
	h1,h2,h3,h4
	{
		letter-spacing: 0;
	}
	h1
	{
		font-size: 18px;
	}
	.leadin img
	{
		height: 128px;
		width: 128px;
	}
	.leadin .text-block
	{
		left: 130px;
	}
	.wrap,#footer
	{
		margin-left: 12px;
		margin-right: 12px;
	}
	.leadin .wrap
	{
		height: 135px;
	}
	.icon
	{
		background-size: 112px 425px;
		display: block;
		overflow: hidden;
		padding: 20px 48px 20px 48px;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.icon-about
	{
		background-position: 0 -110px;
	}
	.icon-contribute
	{
		background-position: 0 -158px;
	}
	.icon-mailing-list
	{
		background-position: 0 -206px;
	}
	.icon-download
	{
		background-position: 0 -254px;
	}
	.icon-quick-links
	{
		background-position: 0 -302px;
	}
	.platforms-list,.platforms-list.second
	{
		padding-bottom: 0;
		position: static;
		width: auto;
	}
	.platforms-list.second
	{
		padding-top: 0;
	}
	.mailing-list a
	{
		padding-right: 30px;
		width: 0;
	}
	.download-list,.download-list.second,.download-list.third
	{
		float: none;
		margin-bottom: 0;
		position: static;
		width: auto;
	}
	.download-list.second,.download-list.third
	{
		padding-top: 0;
	}
	.quick-links-header
	{
		display: none;
	}
	.quick-links,.quick-links-header li
	{
		float: none;
		margin-right: 0;
		width: auto;
	}
	.quick-links .corner
	{
		display: none;
	}
	.quick-links
	{
		padding-top: 0;
	}
}
@media all and (max-width:440px)
{
	.leadin .button-container
	{
		display: none;
	}
	.leadin .text-block
	{
		left: -4px;
		right: -4px;
		top: 135px;
	}
	.leadin img
	{
		top: -8px;
	}
	.leadin .wrap
	{
		height: 200px;
	}
	.icon
	{
		padding: 22px 16px 20px 35px;
	}
	h2
	{
		font-size: 20px;
	}
	hr
	{
		margin-top: 32px;
	}
}