!!! 5
html
	head
		meta(charset = 'utf-8')
		meta('http-equiv' = 'X-UA-Compatible', content = 'IE=edge,chrome=1')
		title Basic Starter
		link(rel = 'stylesheet', type = 'text/css', href = 'css/reset.css')
		link(rel = 'stylesheet', type = 'text/css', href = 'css/main.css')
		script(src = 'https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js')
		script(src = 'js/app.js')
		//if lt IE 9
			script(src = '//html5shiv.googlecode.com/svn/trunk/html5.js')
	body
		header
			hgroup
				h1 Brackets
				h2 open source code editor for the web
			nav
				ul
					li
						a About
					li
						a Contribute
					li
						a Mailing List
					li
						a Download
		#hero
			.slides
				#web-focused.slide
				#innovative.slide
				#standards-based.slide
				#extensible.slide
			nav
				ul
					li
						a web focused
					li
						a innovative
					li
						a standards based
					li
						a extensible
		footer